body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-areas: "...... header header"
                         "sidebar content content";
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    padding: 20px;
    color: #fff;
    font-size: 150%;
    background-color: #444;
    border-radius: 5px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #999;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}
