body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer";
    grid-gap: 1em;
}
@media only screen and (min-width: 500px)  {
    .wrapper {
        /* grid-template-columns: 20% auto; */
        grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar2 sidebar2"
        "footer footer";
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
            "header  header  header"
            "sidebar content sidebar2"
            "footer  footer  footer";
        max-width: 600px;
    }
}

.box {
    padding: 20px;
    color: #fff;
    font-size: 150%;
    background-color: #444;
    border-radius: 5px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #999;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    background-color: #999;
}

.sidebar2 {
    grid-area: sidebar2;
    background-color: #ccc;
    color: #444;
}

.wrapper {
    background-color: #fff;
    color: #444;
}